.App {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input,
button {
  margin: 5px;
}

.photo {
  margin: 10px;
  text-align: center;
}

.photo img {
  max-width: 100%;
  max-height: 800px; /* Adjust this value as needed */
  width: auto;
  height: auto;
}
